body {
  font: 18px "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #303c56;
  margin: 0;
}

.container {
  padding: 5px;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.workload-sliders div {
  padding: 10px;
}

header {
  background: purple;
  height: 75px;
}

rect {
  stroke: white;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0;
}

.App {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.footer {
  background: purple;
  color: white;
  position: fixed;
  background: purple;
  color: white;
  left: 50;
  bottom: 0;
  width: 100%;
}